.banner #home-title {
    background-color: #B5B4B5;
    text-align: center;
    margin:auto;
}

.sidebar {
    position:fixed;
    top:0;
    left:0;
    clear: both;
    background-color: #B5B4B5;
    width: 300px;
    height: -webkit-fill-available;
}

.sidebar .header {
    margin: auto;
    padding-top: 15px;
}

.odd{
  background-color: lightgray;
}
table{
  margin-left: 300px;
  width:-webkit-fill-available;
}
td{
  margin-left: 300px;
  width:-webkit-fill-available;
}


.Room-header{
  margin:auto;
  text-align: center;
  width: 100%;
  padding-left: 15px;
}
